<ion-header>
  <ion-toolbar class="toolbar-poema">

    <ion-title>
      📖 Lista de poemas
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-poema">

  <ion-button
    class="main-button"
    expand="block"
    routerLink="/poemas-form">

    ✨ Crear poema

  </ion-button>


  <ion-card
    class="poema-card"
    *ngFor="let poema of poemas">

    <ion-card-header>

      <ion-card-title>

        {{poema.titulo}}

      </ion-card-title>

      <ion-card-subtitle>

        ✍ {{poema.autor}}

      </ion-card-subtitle>

    </ion-card-header>


    <ion-card-content>

      <p class="contenido">

        {{poema.contenido}}

      </p>

      <br>

      <div class="botones">

        <ion-button
        color="warning"
        [routerLink]="['/poema-detalle', poema.id]">

        Ver

        </ion-button>


        <ion-button
        color="tertiary"
        [routerLink]="['/poemas-form', poema.id]">

        Editar

        </ion-button>


        <ion-button
        color="danger"
        (click)="eliminar(poema.id!)">

        Eliminar

        </ion-button>

      </div>

    </ion-card-content>

  </ion-card>

</ion-content>