.fondo-poema{

--background: linear-gradient(
180deg,
#fff7ef,
#ffe9d6
);

}


.toolbar-poema{

--background:#d9a066;

color:white;

}


.main-button{

margin-bottom:20px;

--background:#c97b63;

font-weight:bold;

}


.poema-card{

background:#fffaf5;

border-radius:20px;

box-shadow:
0 4px 12px rgba(
0,
0,
0,
0.12
);

margin-bottom:20px;

padding:10px;

transition:0.3s;

}


.poema-card:hover{

transform:scale(1.02);

}


ion-card-title{

font-size:22px;

color:#7d4e57;

font-weight:bold;

}


ion-card-subtitle{

color:#a66c52;

font-style:italic;

}


.contenido{

color:#5c4b51;

font-size:15px;

line-height:1.7;

display:-webkit-box;

-webkit-line-clamp:3;

-webkit-box-orient:vertical;

overflow:hidden;

}


.botones{

display:flex;

justify-content:space-between;

margin-top:15px;

}