<ion-toolbar class="toolbar-poema">

  <ion-buttons slot="start">

    <ion-button routerLink="/poemas">

      ⬅ Volver

    </ion-button>

  </ion-buttons>

  <ion-title>

    {{ id ? '✏ Editar poema' : '📖 Nuevo poema' }}

  </ion-title>

</ion-toolbar>



<ion-content class="ion-padding fondo-poema">



<div class="formulario">



  <ion-item class="campo">

    <ion-label position="stacked">

      Título

    </ion-label>

    <ion-input
    [(ngModel)]="poema.titulo">

    </ion-input>

  </ion-item>




  <ion-item class="campo">

    <ion-label position="stacked">

      Autor

    </ion-label>

    <ion-input
    [(ngModel)]="poema.autor">

    </ion-input>

  </ion-item>




  <ion-item class="campo">

    <ion-label position="stacked">

      Contenido

    </ion-label>

    <ion-textarea
    rows="6"
    [(ngModel)]="poema.contenido">

    </ion-textarea>

  </ion-item>




  <ion-item class="campo">

    <ion-label>

      🏞️ Imagen

    </ion-label>

    <input
    type="file"
    accept="image/*"
    (change)="seleccionarImagen($event)">

  </ion-item>





  <ion-item class="campo">

    <ion-label>

      🎵 Audio

    </ion-label>

    <input
    type="file"
    accept="audio/*"
    (change)="seleccionarAudio($event)">

  </ion-item>





  <ion-item class="campo">

    <ion-label position="stacked">

      🎬 Video YouTube

    </ion-label>

    <ion-input
    [(ngModel)]="poema.video_url">

    </ion-input>

  </ion-item>



  <br>


  <ion-button
  class="guardar-btn"
  expand="block"
  (click)="guardar()">

  Guardar poema

  </ion-button>


</div>

</ion-content>