.fondo-poema{

--background:
linear-gradient(
180deg,
#fff7ef,
#ffe8d8
);

}



.toolbar-poema{

--background:#d9a066;

color:white;

}



.detalle-card{

background:#fffaf5;

border-radius:25px;

padding:15px;

box-shadow:
0 6px 18px
rgba(
0,
0,
0,
0.12
);

}



.titulo{

font-size:28px;

color:#7d4e57;

text-align:center;

font-weight:bold;

margin-bottom:10px;

}



.autor{

text-align:center;

font-style:italic;

color:#b27652;

margin-bottom:20px;

}



.contenido{

font-size:18px;

line-height:2;

color:#5d4a42;

text-align:justify;

padding:10px;

background:#fff4eb;

border-radius:15px;

}



.imagen-poema{

width:100%;

border-radius:20px;

margin-top:15px;

box-shadow:
0 4px 10px
rgba(
0,
0,
0,
0.15
);

}



.seccion{

margin-top:30px;

}



h2{

color:#9c6545;

font-size:18px;

margin-bottom:10px;

}



iframe{

border-radius:20px;

overflow:hidden;

}



audio{

width:100%;

margin-top:10px;

}