<ion-toolbar class="toolbar-poema">

  <ion-buttons slot="start">

    <ion-button routerLink="/poemas">

      ⬅ Volver

    </ion-button>

  </ion-buttons>

  <ion-title>

    📖 Detalle del poema

  </ion-title>

</ion-toolbar>


<ion-content class="ion-padding fondo-poema">

  <ion-card
  class="detalle-card"
  *ngIf="poema">

    <ion-card-header>

      <ion-card-title class="titulo">

        {{poema.titulo}}

      </ion-card-title>

      <div class="autor">

        ✍ {{poema.autor}}

      </div>

    </ion-card-header>



    <ion-card-content>

      <p class="contenido">

        {{poema.contenido}}

      </p>


      <div class="seccion">

        <img
        class="imagen-poema"
        [src]="poema.imagen_url">

      </div>


      <div class="seccion">

        <h2>

          🎬 Video relacionado

        </h2>

        <iframe
        width="100%"
        height="250"
        [src]="videoSeguro"
        frameborder="0"
        allowfullscreen>

        </iframe>

      </div>


      <div class="seccion">

        <h2>

          🎵 Audio del poema

        </h2>

        <audio controls>

          <source
          [src]="poema.audio_url"
          type="audio/mpeg">

        </audio>

      </div>


    </ion-card-content>

  </ion-card>

</ion-content>